.sider{
  overflow: auto;
  height: 100vh;
  position: fixed !important;
  left: 0;
  top: 0;
  bottom: 0;
  width: 314px !important;
  max-width: unset !important;
  background: #393A3C !important;
}

.sider_header{
  padding: 25px;
  border-bottom: 1px solid black;
  text-align: center;
}

.sider_menu{
  padding: 15px
}

.content_layout{
  margin-left: 314px;
}

.content{
  padding: 45px;
  min-height: 100vh;
}
